<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}


    <div class="dashboard_page_container">
        <div class="dash">
            {% if request.session.user_id != null %}
            <a class="mybutton" href="/create_new_job">Create New job</a>
            {% endif %}
            <h1>Dashboard</h1>
            {% if request.session.user_id == null %}
            <small>*Please <a href="/login">login</a> to be able use full App</small>
            <br>
            {% endif %}
        </div>

        <div id="display_jobs">
        {% for job in all_jobs %}
            <!-- if nobody does this job -->
            {% if job.executor == null %}
                <div class="job_container">
                    <div class="top_desc">
                        <div class="job_title">
                            <h5><a href="/view/{{job.id}}">{{ job.title|slice:":20" }}...</a></h5>
                        </div>
                        <div class="action">
                            <a href="/view/{{job.id}}">View <span class='vertical'>|</span></a> 
                            {%if job.executor.id == null and request.session.user_id != null %}
                            <a href="/add_job/{{job.id}}">Add <span class='vertical'>|</span></a>
                            {% endif %}
                            {% if job.poster.id == request.session.user_id %}
                                <a href="/edit_job/{{job.id}}">Edit <span class='vertical'>|</span></a> 
                                <a href="/remove_job/{{job.id}}">Remove</a> 
                            {% endif %}
                        </div>
                    </div>
                    <div class="bottom_desc">
                        <p>{{ job.description|slice:":280" }}<a href="/view/{{job.id}}">...View Job</a></p>
                        <small>Posted {{ job.created_at|date:"SHORT_DATE_FORMAT" }} by <a href="/user/{{ job.poster.id }}/profile">{{ job.poster.first_name }} {{ job.poster.last_name }}</a></small>
                        <!-- COMMENTS -->
                        {% if request.session.user_id != null %}
                            {% if job.comments.count > 0 %}
                            <div class="comments_count_container">
                                <small class="comments_count"><a href="/view/{{job.id}}">Comments: {{job.comments.count}}</a></small>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <br>
            {% endif %} 
        {% endfor %}
        </div>
        
    </div>
    




    {% include 'footer.html' %}
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>


















































