<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="dashboard_page_container">
        <div id="profile_header">
            <h1 id="profile_initial">{{ initials }}</h1>
            <div class="personal_info">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                {% if request.session.user_id != null %}
                    <p>{{ user.email }}</p>
                    <p id="dob"> DOB: {{ user.birth_date|date:'Y/m/d' }}</p>
                {% endif %}
            </div>
        </div>
        {% if messages %}     
            {% for message in messages %}                                                            				 	
            <div class="succsess_messages">
                <p class="success">{{ message }}</p>
                <a href="/user/{{user.id}}/profile">x</a>      									                                            								
            </div> 
            {% endfor %}                                                      									
        {% endif %} 
        <!-- For logged in user -->
        {% if user.id == request.session.user_id %}
            <!-- <h3>All active jobs:</h3> -->

            {% if all_active_jobs|length > 0 %}
                <h3>All active jobs:</h3>
                <table class="table table-bordered mt-1">
                    <thead class="thead-dark">
                        <tr>
                            <th>Job</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in all_active_jobs %}
                            <!-- if logged user doing this job, display this -->
                            {% if job.executor != null and job.executor.id == request.session.user_id %}
                            <tr>
                                <td class="td_job">
                                    <p>{{ job.title }}</p> 
                                    <small>{{ job.description|slice:":290" }}</small>
                                    <a href="/view/{{job.id}}">...View</a>
                                    {% if job.comments.count > 0 %}
                                    <div class="comments_count_container">
                                        <small class="comments_count"><a href="/view/{{job.id}}">Comments: {{job.comments.count}}</a></small>
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="td_action">
                                    <!-- <a href="/view/{{job.id}}">View | </a>  -->
                                    <a href="/done_job/{{job.id}}">Done <span class='vertical'>|</span></a>  
                                    <a href="/giveup_job/{{job.id}}">GiveUp</a>
    
                                </td>                      
                            </tr>
                            {% endif%}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <h3>No active jobs</h3>
            {% endif %}

            


            {% if all_posted_jobs|length > 0 %}
                <h3>All jobs posted by {{ user.first_name }}:</h3>
                {% for posted_job in all_posted_jobs %}
                <div class="posted_job_container">
                    <div class="posted_job_title">
                        <p>{{ posted_job.title }}</p>
                        <small>{{ posted_job.location }}</small> <br>
                        <small>Posted {{ posted_job.created_at|date:'Y/m/d'}}</small>
                        {% if posted_job.comments.count > 0 %}
                        <div class="comments_count_container">
                            <small class="comments_count"><a href="/view/{{posted_job.id}}">Comments: {{posted_job.comments.count}}</a></small>
                        </div>
                        {% endif %}
                    </div>

                    <div class="action">
                        <a href="/view/{{posted_job.id}}">View <span class='vertical'>|</span></a> 
                        {%if posted_job.executor.id == null and request.session.user_id != null %}
                        <a href="/add_job/{{posted_job.id}}">Add <span class='vertical'>|</span></a>
                        {% endif %}
                        {% if posted_job.poster.id == request.session.user_id %}
                            <a href="/edit_job/{{posted_job.id}}">Edit <span class='vertical'>|</span></a> 
                            <a href="/remove_job/{{posted_job.id}}">Remove</a> 
                        {% endif %}
                    </div>
                </div>
                <hr>
                {% endfor %}
            {% else %}
                <h3>No posted jobs</h3>
            {% endif %}

        {% else %}
            <h3>All jobs posted by {{ user.first_name }}</h3>
            {% for posted_job in all_posted_jobs %}
            <div class="posted_job_container">
                <div class="posted_job_title">
                    <p>{{ posted_job.title }}</p>
                    <small>{{ posted_job.location }}</small> <br>
                    <small>Posted {{ posted_job.created_at }}</small>
                </div>

                <div class="action">
                    <a href="/view/{{posted_job.id}}">View <span class='vertical'>|</span></a> 
                    {%if posted_job.executor.id == null and request.session.user_id != null %}
                    <a href="/add_job/{{posted_job.id}}">Add <span class='vertical'>|</span></a>
                    {% endif %}
                    {% if posted_job.poster.id == request.session.user_id %}
                        <a href="/edit_job/{{posted_job.id}}">Edit <span class='vertical'>|</span></a> 
                        <a href="/remove_job/{{posted_job.id}}">Remove</a> 
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
        {% endif %}


    </div>

    {% include 'footer.html' %}
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>
