<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="nav-container">

        <nav>
            <ul class="contact_container">
                <li><a href="">Dashboard</a></li>
                <li><a href="">Place job</a></li>
                <li>
                    {% if user_id in request.session %}
                    <a href="">Sign out</a>
                    {% else %}
                    <a href="">Sign in</a>
                    {% endif %}
                </li>  
            </ul>
            
            <div id="logo_container">
                <ion-icon name="hammer"></ion-icon>
                <h4>Profi</h4>
            </div>
            
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="nav-links">
                <div id="nav_logo">
                    <ion-icon name="hammer"></ion-icon>
                    <h4>Profi</h4>
                </div>

              <li><a href="/">Dashboard</a></li>
              <li><a href="">My Profile</a></li>
              <li><a href="">My Jobs</a></li>
              <li><a href="/">Create job</a></li>
              
              <li>
                {% if user_id in request.session %}
                  <a href="">Sign out</a>
                  {% else %}
                  <a href="">Sign in</a>
                  {% endif %}
              </li>
           
            </ul>
        </nav>

    </div>
    <div id="main_image">
        <div id='title_container'>
            <h1>There are <span class='title_span'>pros</span> for any task!</h1>
            <h1>There are <span class='title_span'>tasks</span> for any pro!</h1>
            <div class="button_container">
                <a class="job_btn place_btn" href="">Place Job</a><a class="job_btn find_btn" href="">Find Job</a>
            </div>
        </div>
    </div>
    <main>
        <h3>How it works</h3>
        <div id="steps_container">
            <div class="step step1">

            </div>
        </div>
    </main>

    <!-- <div class="welcome_page_container">
        <div id="welcome_page">
            <div class="left">
                <img id="logo_img" src="{% static 'images/6.jpg' %}" alt="logo_img">
            </div>
            <div class="right">
                <div class="title_container">
                    <h1 class="title_exam top">ninja</h1>
                    <h1 class="title_exam bottom">exam</h1>
                </div>
                <h3><a href="/login">Login</a> or <a href="/register">Register</a></h3>
                <img id="red_img" src="{% static 'images/8.png' %}" alt="logo_img">
            </div>
        </div>

    </div> -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    
</body>
</html>
