* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e1e1e1;
}

.nav-container {
  padding: 0 20px;
  background-color: #fff;
  height: 8vh;
  text-align: center;
}

.nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  /* BURGER LINES */
  /* CHANGING BURGER TO CROSS */
}

.nav-container nav .contact_container {
  margin-bottom: 0;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
}

.nav-container nav .contact_container a #initials {
  background-color: #b0242e;
  border-radius: 50%;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
}

.nav-container nav .contact_container li {
  list-style: none;
  display: inline-block;
}

.nav-container nav .contact_container li a {
  color: black;
}

.nav-container nav #logo_container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav-container nav #logo_container a {
  color: black;
}

.nav-container nav #logo_container a:hover {
  text-decoration: none;
}

.nav-container nav #logo_container a ion-icon {
  color: #b0242e;
  font-size: 27px;
  margin-bottom: -5px;
}

.nav-container nav #logo_container a h4 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
}

.nav-container nav .burger {
  cursor: pointer;
  width: 24px;
  min-width: 230px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-container nav .burger .line1, .nav-container nav .burger .line2, .nav-container nav .burger .line3 {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 3px 0px;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.nav-container nav .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 7px);
          transform: rotate(-45deg) translate(-5px, 7px);
}

.nav-container nav .toggle .line2 {
  opacity: 0;
}

.nav-container nav .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-4px, -7px);
          transform: rotate(45deg) translate(-4px, -7px);
}

body {
  overflow-x: hidden;
  /* here we making navlinks under navbar */
  /* when you click on burger, we want navbar to be visible and 
    we need to move it back, because now its hidden x 100%  */
  /* Animation to make menu apear one by one */
}

body .nav-links {
  width: 200px;
  position: absolute;
  background-color: #fff;
  right: 0px;
  height: 92vh;
  top: 8vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

body .nav-links #nav_logo {
  margin: 20px 0;
}

body .nav-links #nav_logo a {
  color: black;
}

body .nav-links #nav_logo a:hover {
  text-decoration: none;
}

body .nav-links #nav_logo a ion-icon {
  color: #b0242e;
  font-size: 27px;
  margin-bottom: -5px;
}

body .nav-links #nav_logo a h4 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
}

body .nav-links li {
  opacity: 0;
  padding: 20px 0px;
}

body .nav-links li a {
  color: black;
  letter-spacing: 2px;
  margin-top: 20px;
}

body .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#main_image {
  height: 520px;
  width: 100%;
  background: url(../images/people.jpg) no-repeat top center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#main_image #title_container {
  background-color: rgba(255, 255, 255, 0.92);
  padding: 20px 30px;
  max-width: 700px;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main_image #title_container .title_span {
  color: #b0242e;
  font-weight: bold;
}

#main_image #title_container #title h1 {
  text-align: left;
  margin-right: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#main_image #title_container #button_container {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
}

#main_image #title_container #button_container .devider {
  width: 20px;
  height: 20px;
}

#main_image #title_container #button_container .place_btn {
  background-color: #fff;
  border: 2px solid #b0242e;
  padding: 10px 20px;
  color: #b0242e;
  text-align: center;
  display: block;
  width: 120px;
}

#main_image #title_container #button_container .place_btn:hover {
  text-decoration: none;
  background-color: #b0242e;
  color: #fff;
}

#main_image #title_container #button_container .find_btn {
  background-color: #b0242e;
  border: 2px solid #b0242e;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  display: block;
  width: 120px;
}

#main_image #title_container #button_container .find_btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #b0242e;
}

main {
  text-align: center;
  background-color: #fff;
}

main h3 {
  font-weight: bold;
  padding: 20px;
}

main #steps_container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 20px;
}

main #steps_container .descripion_container {
  text-align: center;
  width: 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
}

main #steps_container .descripion_container img {
  height: 80px;
}

main #steps_container .descripion_container h4 {
  font-weight: bold;
  margin-top: 10px;
}

main #steps_container .descripion_container p .desc_span {
  font-weight: bold;
}

main #steps_container .step2 {
  margin: 0 30px;
}

section {
  background-color: #e1e1e1;
  padding-top: 20px;
}

section #phone_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

section #phone_container .phone_text {
  text-align: right;
  padding-left: 20px;
}

section #phone_container .phone_text h1 {
  color: black;
  letter-spacing: 1px;
}

section #phone_container .phone_image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  text-align: center;
}

section #phone_container .phone_image img {
  width: 90%;
}

footer {
  text-align: center;
  padding: 20px;
}

footer small {
  margin: 0;
  padding: 0;
}

.page_container {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.page_container form .button_form {
  text-align: center;
}

.page_container form .button_form .mybutton {
  background-color: #fff;
  border: 2px solid #b0242e;
  padding: 10px 20px;
  color: #b0242e;
  text-align: center;
  display: block;
  width: 120px;
}

.page_container form .button_form .mybutton:hover {
  text-decoration: none;
  background-color: #b0242e;
  border: 2px solid #b0242e;
  color: #fff;
}

.display_flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.display_flex1 .reset {
  background-color: #fff;
  border: 2px solid #b0242e;
  padding: 10px 20px;
  color: #b0242e;
  text-align: center;
  display: block;
  width: 120px;
}

.display_flex1 .reset:hover {
  text-decoration: none;
  background-color: #b0242e;
  color: #fff;
}

.display_flex1 .add_job_btn {
  background-color: #b0242e;
  border: 2px solid #b0242e;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  display: block;
  width: 120px;
}

.display_flex1 .add_job_btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #b0242e;
}

.errors {
  color: red;
}

.dashboard_page_container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.dashboard_page_container .dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard_page_container .dash .mybutton {
  width: 30%;
  min-width: 200px;
  padding: 10px 20px;
  text-align: center;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  margin: 20px;
  background-color: #fff;
  border: 2px solid #b0242e;
  color: #b0242e;
  font-weight: bold;
  text-transform: uppercase;
}

.dashboard_page_container .job_container {
  border: 2px solid #e1e1e1;
  background-color: #fff;
}

.dashboard_page_container .job_container .top_desc {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard_page_container .job_container .top_desc .job_title h5 {
  margin: 0;
}

.dashboard_page_container .job_container .top_desc .job_title h5 a {
  color: black;
}

.dashboard_page_container .job_container .top_desc .action a {
  color: #b0242e;
}

.dashboard_page_container .job_container .bottom_desc {
  padding: 0 15px;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .dashboard_page_container .job_container .top_desc {
    padding: 4px 10px;
  }
  .dashboard_page_container .job_container .top_desc .job_title h5 {
    font-size: 16px;
  }
  .dashboard_page_container .job_container .top_desc .action a {
    font-size: 13px;
  }
  .dashboard_page_container .job_container .bottom_desc {
    font-size: 14px;
    padding: 0 10px;
  }
}

.vertical {
  color: black;
}

@media screen and (max-width: 720px) {
  .nav-container {
    text-align: start;
  }
  .nav-container nav .contact_container {
    display: none;
  }
  .nav-container nav #logo_container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .nav-container nav #logo_container ion-icon {
    color: #b0242e;
    font-size: 27px;
    margin-bottom: -5px;
    margin-left: 30px;
  }
  .nav-container nav #logo_container h4 {
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
  }
  .nav-container nav .burger {
    min-width: 30px;
  }
  .nav-container nav .nav-links {
    text-align: center;
  }
  .nav-container nav .nav-links #nav_logo {
    text-align: center;
  }
}

@media screen and (max-width: 1132px) {
  #main_image #title_container {
    max-width: 70%;
  }
  #main_image #title_container #title h1 {
    font-size: 32px;
  }
  #main_image #title_container #button_container .devider {
    width: 18px;
    height: 18px;
  }
  #main_image #title_container #button_container .place_btn {
    padding: 6px 12px;
    width: 100px;
  }
  #main_image #title_container #button_container .find_btn {
    padding: 6px 12px;
    width: 100px;
  }
}

@media screen and (max-width: 807px) {
  #main_image #title_container #title h1 {
    font-size: 28px;
  }
  #main_image #title_container #button_container .devider {
    width: 16px;
    height: 16px;
  }
  #main_image #title_container #button_container .place_btn {
    padding: 5px 10px;
    width: 98px;
  }
  #main_image #title_container #button_container .find_btn {
    padding: 5px 10px;
    width: 98px;
  }
}

@media screen and (max-width: 550px) {
  #main_image #title_container #title h1 {
    font-size: 22px;
  }
  #main_image #title_container #button_container .devider {
    width: 14px;
    height: 14px;
  }
  #main_image #title_container #button_container .place_btn {
    padding: 4px 7px;
    width: 92px;
  }
  #main_image #title_container #button_container .find_btn {
    padding: 4px 7px;
    width: 92px;
  }
}

@media screen and (max-width: 498px) {
  #main_image #title_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main_image #title_container #title {
    text-align: center;
  }
  #main_image #title_container #title h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  #main_image #title_container #button_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main_image #title_container #button_container .place_btn {
    padding: 4px 7px;
    width: 92px;
  }
  #main_image #title_container #button_container .find_btn {
    padding: 4px 7px;
    width: 92px;
  }
}

@media screen and (max-width: 690px) {
  main h3 {
    font-size: 26px;
  }
  main #steps_container {
    padding: 10px 15px;
  }
  main #steps_container .descripion_container {
    text-align: center;
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: inline-block;
  }
  main #steps_container .descripion_container img {
    height: 80px;
  }
  main #steps_container .descripion_container h4 {
    font-size: 20px;
  }
  main #steps_container .descripion_container p {
    font-size: 0.84rem;
  }
  main #steps_container .step2 {
    margin: 0 30px;
  }
}

@media screen and (max-width: 584px) {
  main h3 {
    font-size: 24px;
  }
  main #steps_container {
    padding: 10px 12px;
  }
  main #steps_container .descripion_container {
    width: 27%;
  }
  main #steps_container .descripion_container img {
    height: 70px;
  }
  main #steps_container .descripion_container h4 {
    font-size: 18px;
  }
  main #steps_container .descripion_container p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 503px) {
  main h3 {
    font-size: 26px;
  }
  main #steps_container {
    padding: 10px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #steps_container .descripion_container {
    text-align: center;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: inline-block;
  }
  main #steps_container .descripion_container img {
    height: 80px;
  }
  main #steps_container .descripion_container h4 {
    font-size: 20px;
  }
  main #steps_container .descripion_container p {
    font-size: 0.84rem;
  }
  main #steps_container .step2 {
    margin: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 0 20px;
  }
  section #phone_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section #phone_container .phone_text {
    text-align: center;
  }
  section #phone_container .phone_text h1 {
    font-size: 26px;
  }
  section #phone_container .phone_image {
    text-align: center;
    margin-top: 20px;
  }
  section #phone_container .phone_image img {
    width: 70%;
  }
}

@media screen and (max-width: 510px) {
  section {
    padding: 0 14px;
  }
  section #phone_container .phone_text h1 {
    font-size: 20px;
  }
  section #phone_container .phone_image {
    text-align: center;
    margin-top: 20px;
  }
  section #phone_container .phone_image img {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */