$white: #fff;
$grey: rgb(237, 237, 237);
$darkgrey: rgb(160, 160, 160);
$red: #b0242e;
$orange: #f5b30c;
$black: rgb(0, 0, 0);
$blue: #007bff;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: $grey;
}
.vertical{
    color: $black;
}
.errors{
    color: rgb(255, 0, 0);
}
.succsess_messages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(6, 196, 22);
    width: 100%;
    margin: auto;
    background-color: rgb(203, 230, 205);
    border-radius: 6px;
    padding: 6px 20px;
    margin-bottom: 10px;
    .success{
        color: rgb(6, 196, 22);
        text-align: left;
        margin-bottom: 0;
    }
    a{
        color: rgb(6, 196, 22);
        text-align: right;
    }
}

.active{
    font-weight: bold;
}

.comments_count_container{
    .comments_count{
        a{
            color: $blue;
            font-weight: bold;
            font-style: italic;
        }
    }
}
// NAVIGATION
.nav-container{
    padding: 0 20px;
    background-color: $white;
    height: 8vh;
    text-align: center;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        #menu_container{
            .menu_list_container{
                margin-bottom: 0;
                color: $black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 500px;
                max-width: 520px;
                a{
                    #initials{
                        background-color: $red;
                        border-radius: 50%;
                        padding: 6px;
                        min-width: 35px;
                        text-transform: uppercase;
                        color: $white;
                    }
                }
          
                li{
                    list-style: none;
                    display: inline-block;
                    &:visited{
                        font-weight: bold;
                    }
                    a{
                        color: $black;
                        &:visited{
                            font-weight: bold;
                        }
                    }
     
                    .login_a{
                        color: $darkgrey;
                    }
                }
            }
        }

        #logo_container{
            a{
                color: $black;
                &:hover{
                    text-decoration: none;
                }
                ion-icon {
                    color: $red;
                    font-size: 27px;
                    margin-bottom: -5px;
                }
                h4{
                    color: $black;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    font-family: 'Righteous', cursive;
                    letter-spacing: 2px;
                }
            }
        }

        #burger_container{
            display: none;
            /* BURGER LINES */
            .burger{
                cursor: pointer;
                width: 24px;
                min-width: 230px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .line1, .line2, .line3 {
                    width: 25px;
                    height: 2px;
                    background-color: $black;
                    margin: 3px 0px;
                    border-radius: 2px;
                    transition: all 0.4s ease;
                    align-items: right;
                }
            }
            /* CHANGING BURGER TO CROSS */
            .toggle .line1{
                transform: rotate(-45deg) translate(-5px, 7px);
            }
            .toggle .line2{
                opacity: 0;
            }
            .toggle .line3{
                transform: rotate(45deg) translate(-4px, -7px);
            }

        }
    }
}
body{
    overflow-x: hidden;
    /* here we making navlinks under navbar */
    .nav-links{
        width: 200px;
        position: absolute;
        background-color: $white;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: none; 
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-align: center;

        #initials_logo{
            a{
                display: block;
                background-color: $red;
                border-radius: 50%;
                padding: 18px 12px;
                margin: auto;
                min-width: 80px;
                max-width: 80px;
                font-size: 30px;
                text-transform: uppercase;
                color: $white;
            }
        }



        li{
            opacity: 0;
            padding: 20px 0px;
            a{
                color: $black;
                letter-spacing: 2px;
                margin-top: 20px;
            }
        }   
    }
    /* when you click on burger, we want navbar to be visible and 
    we need to move it back, because now its hidden x 100%  */
    .nav-active{
        transform: translateX(0%);
        display: flex;
    }
    /* Animation to make menu apear one by one */
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

// FOOTER
footer{
    text-align: center;
    padding: 20px;
    small{
        margin: 0;
        padding: 0;
    }
}


// HOME PAGE
// *****************************************************************************************
// image container
#main_image{
    height: 520px;
    width: 100%;
    background: url(../images/people.jpg) no-repeat top center;
    text-align: center;
    display: flex;
    align-items: flex-end;
    #title_container{
        background-color: rgba(255, 255, 255, 0.92);
        padding: 20px 30px;
        max-width: 700px;
        margin: 0 auto 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .title_span{
            color: $red;
            font-weight: bold;
        }
        #title{
            h1{
                text-align: left;
                margin-right: 20px;
                flex: 3;
            }
        }
        #button_container{
            text-align: right;
            flex: 1;
            display: inline-block;
            .devider{
                width: 20px;
                height: 20px;
            }
            .place_btn{
                background-color: $white;
                border: 2px solid $red;
                padding: 10px 20px;
                color: $red;
                text-align: center;
                display: block;
                width: 120px;
                &:hover{
                    text-decoration: none;
                    background-color: $red;
                    color: $white;
                }
            }
            .find_btn{
                background-color: $red;
                border: 2px solid $red;
                padding: 10px 20px;
                text-align: center;
                color: $white;
                display: block;
                width: 120px;
                &:hover{
                    text-decoration: none;
                    background-color: $white;
                    color: $red;
                }
            }
        }
    }
}
// steps container
main{
    text-align: center;
    background-color: $white;
    h3{
        font-weight: bold; 
        padding: 20px;
    }
    #steps_container{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        padding: 10px 20px;
        .descripion_container{
            text-align: center;
            width: 25%;
            flex:1;
            display: inline-block;
            img{
                height: 80px;
            }
            h4{
                font-weight: bold; 
                margin-top: 10px;
                color: $black;
                a{
                    color: $black;
                }
            }
            p{
                .desc_span{
                    font-weight: bold;
                }
            }
        }
        .step2{
            margin: 0 30px;
        }
    }
}
// mobile App container
section{
    background-color: $grey;
    padding-top: 20px;
    #phone_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        max-width: 900px;
        margin: 0 auto;
        .phone_text{
            text-align: right;
            padding-left:20px ;
            h1{
                color: $black;
                letter-spacing: 1px;
            }
        }
        .phone_image{
            flex:1.5;
            text-align: center;
            img{
                width: 90%;
            }
        }
    }
}


// DASHBOARD PAGE
// *****************************************************************************************
.dashboard_page_container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    .dash{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .mybutton{
            width: 30%;
            min-width: 200px;
            padding: 10px 20px;
            text-align: center;
            flex: 0.2;
            margin: 20px;
            background-color: $white;
            border: 2px solid $red;
            color: $red;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    #display_jobs{
        .job_container{
            border: 2px solid $grey;
            background-color: $white;
            .top_desc{
                padding: 5px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .job_title{
                    h5{
                        margin: 0;
                        a{
                            color: $black;
                        }
                    }
                }
                .action{
                    a{
                        color: $red;
                    }
                }
            }
            .bottom_desc{
                padding: 0 15px;
                background-color: $white;
                p{
                    margin-bottom: 0rem;
                }
            }
        }
    }
    .pagination_container{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        .pagination{
            margin: auto;
            a{
                padding: 0 10px;
            }
        }
    }
}


// USER PROFILE PAGE
// *****************************************************************************************
#profile_header{
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    #profile_initial{
        display: inline-block;
        font-size: 80px;
        color: $red;
    }
    .personal_info{
        text-align: right;
        display: inline-block;
        #dob{
            margin-top: -8px;
            color: $darkgrey;
        }
    }
}
.table-bordered{
    border: 1px solid $black;
    background-color: $white;
    .thead-dark{
        text-align: center;
    }
    tbody{
        
        .td_job{
            width: 80%;
            p{
                font-weight: bold;
                margin-bottom: 0rem;
            }
        }
        .td_action{
            text-align: center;
            a{
                color: $red;
            }
        }
    }
}
.posted_job_container{
    border: 2px solid $grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .posted_job_title{
        p{
            margin: 0;
        }
    }
    .action{
        a{
            color: $red;
        }
    }
}


// VIEW JOB PAGE
// *****************************************************************************************
#job_details{
    font-size: 24px;
    font-weight: bold;
}
.mybutton2{
    min-width: 100px;
    padding: 10px 20px;
    text-align: center;
    background-color: $white;
    border: 2px solid $red;
    color: $red;
    &:hover{
        background-color: $red;
        border: 2px solid $red;
        color: $white;
        text-decoration: none;
    }
}
.mybutton3{
    min-width: 100px;
    padding: 10px 20px;
    text-align: center;
    background-color: $red;
    border: 2px solid $red;
    color: $white;
    margin-bottom: 10px;
    &:hover{
        background-color: $white;
        border: 2px solid $red;
        color: $red;
        text-decoration: none;
    }
}
.cat_desc{
    color: $darkgrey;
}

.comment_p{
    color: $black;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
    padding-top: 10px;
}
.posted_info{
    color: $darkgrey;
    .postedby{
        font-size: 13px;
    }
}

// CREATE JOB PAGE
// *****************************************************************************************
.page_container{
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid $grey;
    form{
        .button_form{
            text-align: center;
            .mybutton{
                background-color: $white;
                border: 2px solid $red;
                padding: 10px 20px;
                color: $red;
                text-align: center;
                display: block;
                width: 120px;
                &:hover{
                    text-decoration: none;
                    background-color: $red;
                    border: 2px solid $red;
                    color: $white;
                }
            }
        }
    }
}
.display_flex1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    .reset{
        background-color: $white;
        border: 2px solid $red;
        padding: 10px 20px;
        color: $red;
        text-align: center;
        display: block;
        width: 120px;
        &:hover{
            text-decoration: none;
            background-color: $red;
            color: $white;
        }
    }
    .add_job_btn{
        background-color: $red;
        border: 2px solid $red;
        padding: 10px 20px;
        text-align: center;
        color: $white;
        display: block;
        width: 120px;
        &:hover{
            text-decoration: none;
            background-color: $white;
            color: $red;
        }
    }
}


// ALL USERS PAGE
.all_users_page_container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    #all_users_display{
        #user_name{
            text-align: left;
        }
    }
}



// *****************************************************************************************
// ************************************    MEDIA SCREEN    *********************************
// *****************************************************************************************

// Navigation
@media screen and (max-width:750px){
    .nav-container{
        text-align: center;
        nav{
            #menu_container{
                display: none;
            }

            #logo_container{
                flex:2;
                text-align: left;
                ion-icon {
                    color: $red;
                    font-size: 27px;
                    margin-bottom: -5px;
                    margin-left: 30px;
                }
                h4{
                    color: $black;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    font-family: 'Righteous', cursive;
                    letter-spacing: 2px;
                }
            }
            #burger_container{
                display: block;
                text-align: right;
                .burger{
                    min-width: 30px;
                }
            }


            .nav-links{
                text-align: center;
                #nav_logo{
                    text-align: center;
                } 
            }
        }
    }
}

// HOME PAGE
// main_image div container
@media screen and (max-width:1132px){
    #main_image{    
        #title_container{
            max-width: 70%;
            #title{
                h1{
                    font-size: 32px;
                }
            }
            #button_container{
                .devider{
                    width: 18px;
                    height: 18px;
                }
                .place_btn{
                    padding: 6px 12px;
                    width: 100px;
                }
                .find_btn{
                    padding: 6px 12px;
                    width: 100px;
                }
            }
        }
    } 
}
@media screen and (max-width:807px){
    #main_image{    
        #title_container{
            #title{
                h1{
                    font-size: 28px;
                }
            }
            #button_container{
                .devider{
                    width: 16px;
                    height: 16px;
                }
                .place_btn{
                    padding: 5px 10px;
                    width: 98px;
                }
                .find_btn{
                    padding: 5px 10px;
                    width: 98px;
                }
            }
        }
    } 
}
@media screen and (max-width:550px){
    #main_image{    
        #title_container{
            #title{
                h1{
                    font-size: 22px;
                }
            }
            #button_container{
                .devider{
                    width: 14px;
                    height: 14px;
                }
                .place_btn{
                    padding: 4px 7px;
                    width: 92px;
                }
                .find_btn{
                    padding: 4px 7px;
                    width: 92px;
                }
            }
        }
    } 
}
@media screen and (max-width:498px){
    #main_image{   
        #title_container{
            flex-direction: column;
            #title{
                text-align: center;
                h1{
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
            #button_container{
                display: flex;
                .place_btn{
                    padding: 4px 7px;
                    width: 92px;
                }
                .find_btn{
                    padding: 4px 7px;
                    width: 92px;
                }
            }
        }
    } 
}
// steps container
@media screen and (max-width:690px){
    main{
        h3{
            font-size: 26px;
        }
        #steps_container{
            padding: 10px 15px;
            .descripion_container{
                text-align: center;
                width: 25%;
                flex:1;
                display: inline-block;
                img{
                    height: 80px;
                }
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 0.84rem;
                }
            }
            .step2{
                margin: 0 30px;
            }
        }
    } 
}
@media screen and (max-width:584px){
    main{
        h3{
            font-size: 24px;
        }
        #steps_container{
            padding: 10px 12px;
            .descripion_container{
                width: 27%;
                img{
                    height: 70px;
                }
                h4{
                    font-size: 18px;
                }
                p{
                    font-size: 0.8rem;
                }
            }
        }
    } 
}
@media screen and (max-width:503px){
    main{
        h3{
            font-size: 26px;
        }
        #steps_container{
            padding: 10px 15px;
            flex-direction: column;
            align-items: center;
            .descripion_container{
                text-align: center;
                width: 100%;
                flex:1;
                display: inline-block;
                img{
                    height: 80px;
                }
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 0.84rem;
                }
            }
            .step2{
                margin: 0 30px;
            }
        }
    } 
}
// mobile App container
@media screen and (max-width:800px){
    section{
        padding: 0 20px;
        #phone_container{
            flex-direction: column;

            .phone_text{
                text-align: center;
                h1{
                    font-size: 26px;
                }
            }
            .phone_image{
                text-align: center;
                margin-top: 20px;
                img{
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (max-width:510px){
    section{
        padding: 0 14px;
        #phone_container{
            .phone_text{
                h1{
                    font-size: 20px;
                }
            }
            .phone_image{
                text-align: center;
                margin-top: 20px;
                img{
                    width: 80%;
                }
            }
        }
    }
}

// ALL USERS PAGE
@media screen and (max-width:480px){
    table{
        font-size: 0.8rem;
        .display_none{
            display: none;
        }
    }

}

// PROFILE PAGE
@media screen and (max-width:480px){
    #profile_header{
        flex-direction: column;
        align-items: center;
        .personal_info{
            text-align: center;
        }
    }
    h3{
        text-align: center;
        font-size: 20px;
    }
    .posted_job_container{
        border: 2px solid $grey;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .posted_job_title{
            width: 50%;
            p{
                margin: 0;
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
        .action{
            text-align: right;
            a{
                font-size: 0.8rem;
            }
        }
    }
}

// DASHBOARD PAGE
@media screen and (max-width:600px){
    .dashboard_page_container{
        .job_container{
            .top_desc{
                padding: 4px 10px;
                .job_title{
                    h5{
                        font-size: 16px;
                    }
                }
                .action{
                    a{
                        font-size: 13px;
                    }
                }
            }
            .bottom_desc{
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }
}



